[Desktop Entry]
Type=Application
Name=PDF Sign Verifier
Comment=Verify Indian DSC / Amazon NOC PDF signatures
Exec=pdf-sign-verifier --gui
Icon=pdf-sign-verifier
Terminal=false
Categories=Office;Utility;
Keywords=PDF;Signature;DSC;NOC;Verify;Mint;Ubuntu;Debian;
StartupNotify=true
StartupWMClass=pdf-sign-verifier
SingleMainWindow=true
